<form name="form" (ngSubmit)="onSubmit()">
    <p class="h1">Latest Transactions </p>
    <div *ngIf="show" class="alert alert-light" role="alert">
        {{message}}
    </div>
    <div >
        <button class="btn btn-primary" type="submit">Retrieve</button>
    </div>
   <br>
<div>
    <table >
    <thead >
        <tr>
            <th>Type </th>
            <th>Card ID</th>
            <th>Balance </th>
            <th>Latest Location </th>
            <th>Timestamp </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let
         row2 of data; let j = index; " >
            <tr>
                <td>{{row2[1]}} </td>
                <td>{{row2[3] | uppercase}} </td>
                <td>{{row2[10]}} </td>
                <td>
                    <span>{{row2[8]}}</span> <br>
                    <span> {{row2[6] | number:'1.1-1'}}xxx, {{row2[7] | number:'1.1-1'}}xxx </span> 
                </td>
                <td>{{row2[9]}} </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
  </div> 


  

<ng-container *ngFor="let entry of data; let j = index; " >

</ng-container>   
 
   
 
</form>  